.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 20px
}

.buttons-container {
    display: flex;
    gap: 10px;
}